body{
    background-color: rgb(27, 27, 27);
    color: rgb(142, 81, 170);
    margin: 0;
    padding: 0;
}
body,html{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
#main{
    text-align: center;
}

#head header{
    margin-top: 5%;
    border-color:rgb(142, 81, 170); 
}
#start-btn,#rest-btn {
    border-radius: 50%;
    width: 75vw;
    height: 75vw;
    background-color: rgba(59, 180, 59, 0.651);
    color: rgb(233, 222, 128);
    /* border: 1px white solid; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    padding: 5%;
}
#rest-btn{
    background-color: rgba(219, 80, 70, 0.651);
    color: rgb(61, 2, 2);
    display: block;
    text-align: center;
    font-size: 35px;

}
#rest-btn p {
    margin-top: 45px;
}
#start-btn:hover{
    cursor: pointer;
    background-color:rgb(233, 222, 128);
    color:  rgba(59, 180, 59, 0.651);

}
#rest-container{
    display:none ;
    margin-top: 35%;
}
#start-container {
    margin-top: 35%;
    display: flex;
    justify-content: center;
}
#train-form-container{
    margin-top: 27%;
    display: none;
}
#form1 input, #form1{
    color: rgb(71, 111, 241);
    font-size: 22px;
}
#form1 input{
    width: 25vw;
}
#form1 h1,#form1 h2,#form1 h3 {
    margin-block: 8px;
}
#form1 * {
    margin-block: 2px;
}

input {
    text-align: center;
}
.btn-danger{
    background-color: lightcoral;
}
.btn-success{
    background-color: rgb(231, 186, 101);
}

#dashboard-main,#history-main{
    display: none;
}

#dock-img img{
    border-radius: 50%;
    float: left;
    width: 10vw;
    margin-inline: 4px;
    cursor: pointer;
}
#dock-img img:hover{
    border: 2px rgb(142, 81, 170)  solid;
    width: 12vw;

}
.wrapReps {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 16%;
}
.up-down-btn{

    float:right;
   margin-left: 5%;
}
.up-down-btn img{
    width: 15vw;
    margin-block: 5px;
}
#form1 h2,h1 {
    margin: 0;
    
}
#time-title{
    color: lightcoral;
}

#result{
    margin-top: 25%;
    font-size: 25px;
}
#res-ph{
    display: none;
}
#result p{
    margin-block: 3px;
}
#total-time{
    color: rgb(226, 171, 68);
}
#work-time{
    color:rgb(62, 212, 62)
}
#rest-time{
    color:rgb(212, 72, 62)
}
#time-container,#rank-container {
    border: 1px rgb(142, 81, 170)  solid;
    padding: 10px;
    text-align: left;
    margin-top: 10%;
    border-radius: 8px;

}
.titletimeRes{
    font-size: 20px;
}




#footer{
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    height: 10vh;
    background-image: linear-gradient(to top, rgb(27, 27, 27),rgb(40, 21, 51) , rgb(142, 81, 170));
    position: sticky;
    width: 99vw;
    z-index: 2;
    top: 99vh;
    left: 0.5vw;
    margin-inline: auto;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer #Nav{
}
#footer #Nav img {
    width:60px;
    border-radius: 50%;
}
#footer #Nav img:hover {
    width:70px;
}






/* external  */
